h1 {
  font-size: 60px;
  font-family: 'American Typewriter',sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #0073a8;
  text-shadow: 3px 3px 1px #fffaf0;
}

p {
  font-size: 20px;
  font-family: "メイリオ";
}


li {
  font-size: 16px;
  font-family: "メイリオ";
}

body {
  width: 1000px;
  margin: 0 auto;
  background-color: #ffb6c1;
  padding: 0 20px 20px 20px;
  border: 3px solid #6495ed;
}

img {
  display: block;
  margin: 0 auto;
}
