h1 {
  font-size: 48px;
  font-family: "HiraMinProN-W6";
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #0073a8;
  text-shadow: 3px 3px 1px #d3d3d8;
}

p ,li {
  font-size: 20px;
  font-family:"ヒラギノ明朝 ProN";
}

body {
  width: 1000px;
  margin: 0 auto;
  background-color: #ffffbc;
  padding: 0 20px 20px 20px;
  border: 3px solid #0073a8;
}

img {
  display: block;
  margin: 0 auto;
}
