p {
  color: red;
  width: 100px;
}

li {
  color: black;
}

html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Hannari", sans-serif; /* this should be the rest of the output you got from Google fonts */
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #F7D76B;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #61C359;
  padding: 0 20px 20px 20px;
  border: 1px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #FC9D9D;
}

img {
  display: block;
  margin: 0 auto;
  width: 150px;
}
