html {
  font-size: 100px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Nico Moji", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

p {
  color: blue;
}

li {
  color: blue;
}

h1 {
  color: blue;
}
