p {
  color: red;
  width: 150px;
  border: 1px solid black;
}

h1 {
  color: blue;
}

li {
  color: black;
}

html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Hannari", sans-serif; /* this should be the rest of the output you got from Google fonts */
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
