p {
  color: #B22222
}

html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  /* font-family: "Nico Moji"; */
  background-color: #D7E9B9;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FFFBAC;
  padding: 0 20px 20px 20px;
  border: 5px solid #FAAB78;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #D7E9B9;
  text-shadow: 3px 3px 1px #FAAB78;
}

img {
  display: block;
  margin: 0 auto;
}
