p {
  color: #B22222
}

html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  /* font-family: "Nico Moji"; */

  width: 600px;
  margin: 0 auto;
  background-color: #D7E9B9;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #FFFBAC;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
